*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
    border: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: #BBB;
}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f1f1f;
}

.main header {
    height: 80px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;
    background-color: #1f1f1f;
}

.main footer {
    height: 80px;
    background-color: #282828;
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background-color: #282828;
}


.song-length {
    text-align: right;
}